.card-header {
  text-align: auto;
  font-family: Tahoma;
  width: 100%;
}

a {
  width: 10%;
  margin-right: 5 px;
  box-shadow: 1px 1px 1px 1px rgb(14, 214, 147);
  color: white;
}

#autor {
  margin-top: 15px;
  color: rgb(14, 214, 147);
}

.footer-distributed {
  background: linear-gradient(to right, rgb(2, 2, 12), rgba(70, 115, 173, 0.514));
  box-shadow: 0 1px 1px 0 rgba(172, 15, 15, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #d2d2d3;
  font-size: 14px;
  margin: 0;
}