* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background-color: rgb(3, 3, 97);
  color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 25px;
  width: 8%;
  height: 100px;
  text-align: right
    /*filter: brightness(1.1); cuando no reconce al png
  mix-blend-mode: multiply;*/
}



body {
  background-image: repeating-radial-gradient(rgba(13, 224, 126, 0.616), rgb(238, 13, 208)), url('https://cdn.pixabay.com/photo/2019/11/08/18/04/cognac-4611998_1280.jpg'),
    url('https://live.staticflickr.com/7025/6395175675_ee7919503d_c.jpg');
  background-attachment: fixed;
  overflow: scroll;
  /* filter: blur(1px);
  -webkit-filter: blur(8px); */
}

.App-header {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(149, 236, 185));
  margin-bottom: 10px;
  z-index: 1;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Anton', sans-serif;
  border-radius: 2px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: underline;
  font-size: 45px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  width: 80%;
  position: absolute;
}

.container {
  background-color: -prefix-linear-gradient(top, blue, white);
  text-align: justify;
}



.category {
  font-size: 20px;
  color: rgb(8, 247, 247);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.img-thumbnail {
  width: 90%;
  height: auto;
  align-items: stretch;
  border-radius: 25px;
  margin-top: 35px;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
}

.fw-bolder {
  margin-top: 15px;
  color: rgb(6, 10, 245);
  width: 100%;
  height: 15px;
  border-bottom: 15px;
}

#remove {
  width: 90%;
  align-items: center;

}

#add {
  align-items: center;
  width: 90%;
  font-family: 'Anton', sans-serif;
}